<div class="content-main sv_wr_re_container" style="margin-bottom:60px;">

  <img class="only-pc"
    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/RENEWAL__BN.jpg?v=1708294830">

  <img class="only-sp"
    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/RENEWAL__BN_sp.jpg?v=1708294830">

  <div class="section_page" style="padding:0;">
    <section>
      <div class="Container sp_padding0">
        <div class="paragraph">
          <div class="content_box content_box_1" style="margin-bottom: 0;padding-bottom: 0;">
            <div class="content__menuList l-justify-between-flex--pc">
              <div class="content__menuItem sp_margin20"><a href="#ITEMLIST">
                  <p class="menuItem__textJa arrow-bottom">產品一覧</p>
                  <div class="menuItem__textEn">
                    <p >ITEM LIST</p>
                  </div>
                </a></div>

            </div>
          </div>

          <div class="content_box content_box_2 sp_margin20">
            <p style="display:block !important;padding-bottom:20px;">
              眾多顧客長年愛用的「皂香」、「白百合」香氣。SHIRO Taiwan於2022年12月更新香水產品，並於2023年3月進行部分產品香料變更，更新為使更多顧客感到喜悅的香氣。<br>
              <span style="font-size:11pt;">
                *此次變更香料為鈴蘭醛(Lilial)。報告指出鈴蘭醛有導致過敏的疑慮，因此列入限制使用香料。<br>
                SHIRO的產品中，目前尚未收到因本香料對健康造成不良影響的案例報告。</span>
            </p>
          </div>

          <div class="p-container only-pc">
            <a href="/collections/renewal_savon" target="_blank">
              <span style="flex: 0 0 44%;">
                <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/SAVON.jpg?v=1708294830">
              </span>
            </a>
            <a href="/collections/renewal_whitelily" target="_blank">
              <span style="flex: 0 0 44%;">
                <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/WHITE-LILY.jpg?v=1708294829">
              </span>
            </a>
          </div>

          <div class="p-container only-sp">
            <a href="/collections/renewal_savon" target="_blank">
              <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/SAVON_sp_1.jpg?v=1708294830">
            </a>
          </div>
          <div class="content_box only-sp sp_margin40">
            <p class="item__feature heading__line--right">【 香氣特徵 】</p>
            <p class="item__text">香料更新後的皂香加強了檸檬、甜橙、黑加侖等柑橘果香調香氣，提升香氣的清爽感。
              將後調的甜味減少，皂香獨有如同沐浴後縈繞全身的溫和甜香，更加適合各個年齡層及各個季節作使用。
            </p>
            <br>
            <p style="text-align: center;">
              <a class="btn-gray btn--grey arrow--right-white" href="/collections/renewal_savon"
                target="_blank">
                更新後皂香產品一覽</a>
            </p>
          </div>

          <div class="p-container only-sp">
            <a href="/collections/renewal_whitelily" target="_blank">
              <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/WHITE-LILY_sp_1.jpg?v=1708294829">
            </a>
          </div>
          <div class="content_box only-sp sp_margin40">
            <p class="item__feature heading__line--right">【 香氣特徵 】</p>
            <p class="item__text">香料更新後的白百合加強中調的百合香氣，加入了玉蘭等花香調使香氣整體印象更添溫潤感。以香料更新前的白百合香氣特色為基礎做加強，使香氣更佳自然溫柔的包圍。
              是與離理想中的自己更進一步的白百合香氣。
            </p>
          </div>
          <div class="p-container only-sp">
            <a href="/collections/renewal_whitelily" target="_blank">
              <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/WHITE-LILY_sp_2.jpg?v=1708294829">
            </a>
          </div>
          <div class="content_box only-sp">
            <p style="text-align: center;">
              <a class="btn-gray btn--grey arrow--right-white" href="/collections/renewal_whitelily"
                target="_blank">
                更新後白百合產品一覽</a>
            </p>
          </div>

          <br>
        </div>
        <span id="ITEMLIST"></span>
        <div class="p-container only-pc">
          <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/ITEMLIST-pc.jpg?v=1708294830">
        </div>
        <div class="only-sp" style="width: 100vw;">
          <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/ITEMLIST-sp.jpg?v=1708294829">
        </div>
        <div class="paragraph">

          <!------------------------ 區塊一 ---------------------------->

          <div class="l-content__box line_center_heading">
            <h3 class="content__category heading__line--long">
              <span>
                <span class="u-en">new</span>
                <span class="u-en">SAVON</span>
              </span>
            </h3>
          </div>


          <!--PC輪播圖-->

          <!--PC輪播圖 css -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.css">
          <style>
            .slick-carousel {
              margin: 0 auto;
              width: 880px;
              height: fit-content;
              margin-bottom: 100px;
            }

            .slick-slide {

              margin: 0 10px;
            }

            .slick-next::before,
            .slick-prev::before {
              opacity: 1;
              color: #fff;
            }

            .slick-next::before:hover,
            .slick-prev::before:hover {
              opacity: 1;
              color: #fff;
            }

            .section_page ul:not(.About_Nav) li::before {
              opacity: 0;
              left: 2px;
              top: -10px;
            }

            .slick-dots li.slick-active button:before {
              opacity: 0.75;
              color: black;
            }

            .slick-prev:hover:before,
            .slick-prev:focus:before,
            .slick-next:hover:before,
            .slick-next:focus:before {
              opacity: 0;
            }

            .slick-prev,
            .slick-next {
              width: 30px;
              height: 50px;
            }

            @media only screen and (max-width: 1400px) {
              .slick-carousel {
                width: 85% !important;
              }
            }

            @media only screen and (max-width: 700px) {
              .slick-carousel {
                margin: 0 auto;
                width: 85% !important;
                height: ;
              }

              /* 消失的三角形 */
              .slick-prev,
              .slick-next {
                width: 30px;
                height: 50px;
              }

            }

            .slick-dots li {
              margin: 0;
              width: 16px;
              height: 16px;
            }

            .section_page ul {
              padding-left: 0;
            }

            .slick-prev svg {
              transform: scaleX(-1);
            }

            .slick-arrow svg {
              fill: #000;
              opacity: 0.7;
            }

            .slick-arrow svg:hover {
              opacity: 1;
            }

            .slick-dots li button:before {
              opacity: .15;
              line-height: 20px;
              transform: scale(0.8);
            }
          </style>
          <!-- Create your own class for the containing div -->

          <!-- スライダー部分 -->
          <div class="slider_content_box">
            <div class="product_slider_container slider">
              {% for product in collections["new-savon"].products %}
              <a href="{{product.url}}">
                <div class="product_slider_card card">
                  <img src="{{ product | image_url }}" alt="">
                  <div class="card-content">
                    <p class="product_slider_cardtitle">{{product.title}}</p>
                    <p class="product_slider_cardtitle_en">{{ product.metafields.productsname._en }}</p>
                    <p class="product_slider_cardprice">NTD  {{product.price | money_without_trailing_zeros }}</p>
                  </div>
                </div>
              </a>
                {% endfor %}
            </div>
          </div>


          <!-- jQuery CDN -->
          <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
          <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
          <!-- slick Carousel CDN -->
          <script type="text/javascript" src="https://shiro-shiro.tw/uploads/media/gift/slick.js"></script>





          <!--PC輪播圖end-->




          <!-------------------------- 區塊一 end ---------------------------->

          <!------------------------ 區塊二 ---------------------------->

          <div class="l-content__box l-content__box_2">
            <h3 class="content__category heading__line--long">
              <span>
                <span class="u-en">new</span>
                <span class="u-en">WHITE</span>
                <span class="u-en">LILY</span>
              </span>
            </h3>
          </div>

          <!--PC輪播圖-->

          <!-- スライダー部分 -->
          <div class="slider_content_box">
            <div class="product_slider_container slider">
              {% for product in collections["new-savon"].products %}
              <a href="{{product.url}}">
                <div class="product_slider_card card">
                  <img src="{{ product | image_url }}" alt="">
                  <div class="card-content">
                    <p class="product_slider_cardtitle">{{product.title}}</p>
                    <p class="product_slider_cardtitle_en">{{ product.metafields.productsname._en }}</p>
                    <p class="product_slider_cardprice">{{product.price | money_without_trailing_zeros }}</p>
                  </div>
                </div>
              </a>
              {% endfor %}
            </div>
          </div>





          <!--SP輪播圖end-->

          <!-------------------------- 區塊二 end ---------------------------->

          <!------------------------ 區塊三 ---------------------------->

          <!--<div class="l-content__box">
      <h3 class="content__category heading__line--right">
        <span>
          <span class="u-en">RENEWAL</span> 
          <span class="u-en">ITEMS</span> 
        </span>
       </h3>
   </div>-->

          <div class="l-content__box l-content__box_5 u-mb_s30-p60">
            <h3 class="content__category u-mb_s15-p30 heading__line--right "><span><span class="u-en">RENEWAL</span>
                <span class="u-en">ITEMS</span></span></h3>
            <h4 class="content__title u-mb_s15-p30 u-font-weight--700 heading__square heading__square_1">
              「室內擴香瓶」改版更新為能夠使用得更加長久的款式</h4>
            <div class="content__listRenewal l-justify-between--pc u-mb_s30-p60">
              <div class="renewal__img">
                <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/02_renewal_item_img3.jpg?v=1708294829"
                  alt="RENEWAL ITEMS" width="100%" height="*">
              </div>
              <div class="renewal__item renewal__item_1">
                <p class="item__product u-font-weight--700"style='margin-bottom: 0;'><strong>SHIRO FRAGRANCE 擴香系列</strong></p>
                <div class="only-sp u-font-weight--700">
                  <p class="item__name">擴香液（附10支擴香枝）</p>
                  <p class="item__price">300mL　$1,900</p>
                </div>
                <div class="item__namePrice l-justify-between--pc u-font-weight--700">
                  <span class="only-pc namePrice__name">擴香液（附10支擴香枝）</span>
                  <span class="only-pc namePrice__price">300mL　$1,900</span>
                </div>
                <p class="item__text" style="margin-bottom: 40px;">擴香液使用100%回收再利用塑膠製作而成的容器填裝。<br>一瓶可補充2次(約可使用3個月)。</p>
                <p class="item__product u-font-weight--700"style='margin-bottom: 0;'><strong>SHIRO FRAGRANCE 擴香系列</strong></p>
                <div class="only-sp u-font-weight--700">
                  <p class="item__name">擴香枝（10支）</p>
                  <p class="item__price">(全品項適用)　$200</p>
                </div>
                <div class="item__namePrice l-justify-between--pc u-font-weight--700">
                  <span class="only-pc namePrice__name">擴香枝（10支）</span>
                  <span class="only-pc namePrice__price">(全品項適用)　$200</span>
                </div>
                <p class="item__text">使用回收再利用塑膠製成，使空間散發舒適宜人的香氣。更新後的擴香枝具有更加優異的擴散力。</p>
                <div class="item__text">
                  <p style="margin-bottom: 0;">※可搭配<a href="/products/diffuser-glass-vase_2" target="_blank"><u>SHIRO PERFUME玻璃擴香瓶</u></a>使用。
                  </p>
                  <p>※亦可搭配<a
                      href="/search?q=擴香瓶*&type=product"
                      target="_blank"><u>改版前產品室內擴香瓶</u></a>的容器內使用 。</p>
                </div>
              </div>
            </div>
          </div>

          <div class="l-content__box u-mb_s30-p60">
            <div style="display: flex;flex-direction: row;justify-content: space-between;">
              <h4 class="content__title u-mb_s15-p30 u-font-weight--700 heading__square heading__square_8">RENEWAL 成分變更產品一覽</h4>
              <h4 class="only-pc content__title u-mb_s15-p30 u-font-weight--700 heading__square heading__square_9" style="display: none;">NEW ITEM 新產品上市</h4>
            </div>

            <div class="content__listLineup l-justify-around content__listLineup_pc">

              <div class="lineup__item l-flex-column">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-01.jpg?v=1708295316" alt="香膏"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">香膏</p>
                </div>
                <div class="lineup__text">
                  <p>調整乳木果油(乳木果脂)*1的成分含量，增加荷荷芭籽油*2。<br>
                    <span style="color:#bb0000;">*此產品於日本已停止生產，庫存銷售完畢即不再補充。</span>
                  </p>
                </div>
              </div>

              <div class="lineup__item l-flex-column">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-02.jpg?v=1708295316" alt="護手精華乳"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">護手精華乳</p>
                </div>
                <div class="lineup__text">
                  <p>為使香氣更加明顯，將保濕成分中的酒粕*3變更為天然昆布(昆布提取物)*4。</p>
                </div>
              </div>

              <div class="lineup__item l-flex-column">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-03.jpg?v=1708295316" alt="火山泥洗手液"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">火山泥洗手液</p>
                </div>
                <div class="lineup__text">
                  <p>將蘆薈葉萃取*5成分變更為庫拉索蘆薈葉汁*6，些微調整使用感受。</p>
                </div>
              </div>

              <div class="only-pc lineup__item l-flex-column" style="border: 1px solid #e6e6e6;">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-08.jpg?v=1708295316" alt="古龍水"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">古龍水</p>
                </div>
                <div class="lineup__text">
                  <p>台灣首次推出的新品，共兩款香氣供選擇(皂香、白百合)。</p>
                </div>
              </div>

              <div class="lineup__item l-flex-column">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-04.jpg?v=1708295316" alt="保濕身體乳"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">保濕身體乳</p>
                </div>
                <div class="lineup__text">
                  <p>停止添加蘆薈葉提取物*5，並使用乳木果油(乳木果脂)*1。帶出更明顯的香氣。</p>
                </div>
              </div>

              <div class="lineup__item l-flex-column">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-05.jpg?v=1708295316" alt="ボディオイル"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">護髮噴霧</p>
                </div>
                <div class="lineup__text">
                  <p>增加柚子蒸餾水(柚子果皮水)*7，搭配保濕成分，帶出更明顯的香氣。</p>
                </div>
              </div>


              <div class="lineup__item l-flex-column">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-06.jpg?v=1708295316" alt="身體按摩油"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">身體按摩油</p>
                </div>
                <div class="lineup__text">
                  <p>使香氣更加明顯。為調整使用感受，去除白百合香氣的部分成分*8。</p>
                </div>
              </div>

              <div class="only-pc lineup__item l-flex-column" style="border: 1px solid #e6e6e6;">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-07.jpg?v=1708295316" alt="沐浴油"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">沐浴油</p>
                </div>
                <div class="lineup__text">
                  <p>台灣首次推出的新品，共三款香氣供選擇(皂香、白百合、白茶)。</p>
                </div>
              </div>



            </div>
            <!--content__listLineup end-->

            <h4 class="only-sp-flex content__title u-mb_s15-p30 u-font-weight--700 heading__square" style="margin-top:80px;">NEW ITEM 新品上市</h4>
            <div class="only-sp-flex content__listLineup l-justify-around">

              <div class="lineup__item l-flex-column">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-08.jpg?v=1708295316" alt="古龍水"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">古龍水</p>
                </div>
                <div class="lineup__text">
                  <p>台灣首次推出的新品，共兩款香氣供選擇(皂香、白百合)。</p>
                </div>
              </div>

              <div class="lineup__item l-flex-column">
                <div class="lineup__img"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/item_img-07.jpg?v=1708295316" alt="沐浴油"
                    width="100%" height="*"></div>
                <div class="lineup__name l-justify-align-center">
                  <p class="u-text-align--center u-font-weight--700">沐浴油</p>
                </div>
                <div class="lineup__text">
                  <p>台灣首次推出的新品，共三款香氣供選擇(皂香、白百合、白茶)。</p>
                </div>
              </div>



            </div>
            <!--content__listLineup end-->



          </div>
          <!--l-content__box end-->







          <style>
            /*----4x2商品區------*/

            .only-sp-flex {
              display: flex !important;
            }

            .content__listLineup {
              margin-top: -60px;
              flex-wrap: wrap;
            }

            .l-justify-around {
              display: flex;
              justify-content: space-around;
            }

            .content__listLineup .lineup__item {
              width: calc((100% - 20px)/ 2);
              margin-top: 50px;
              padding: 10px;
            }

            .l-flex-column {
              display: flex;
              flex-direction: column;
            }
            .content__listLineup .lineup__name p{
              font-size: 18px;
              /* font-weight: 500; */
            }
            .content__listLineup .lineup__text p{
              font-size: 14px;
              /* font-weight: 500; */
            }
            .content__listLineup .lineup__text span{
              font-size: 9px;
              line-height: 10px;
            }
            .content__listLineup .lineup__item .lineup__img {
              margin-bottom: 15px;
            }

            .content__listLineup .lineup__item .lineup__name {
              font-size: 16px;
              height: 100%;
              min-height: 0;
              padding-bottom: 15px;
              color: #000030;
              flex: 1;
            }

            .l-justify-align-center {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }

            .u-text-align--center {
              text-align: center;
            }

            .content__listLineup .lineup__item .lineup__text {
              position: relative;
              height: 100%;
              min-height: 0;
              padding-top: 12px;
              flex: 2;
              font-size: 12px;
            }

            .content__listLineup .lineup__item .lineup__text::before {
              position: absolute;
              top: 0;
              width: 100%;
              content: '';
              border-top: 1px solid #000;
            }

            @media screen and (min-width: 768px) {
              .only-sp-flex {
                display: none !important;
              }

              .content__listLineup .lineup__item {
                width: calc((100% - 120px)/ 4);
              }

              .content__listLineup .lineup__item .lineup__name {
                font-size: 16px;
              }

            }
.only-sp-flex .lineup__text{
  font-size: 14px;
}
            /*----4x2商品區end------*/

            .heading__square::before {
              display: block;
              width: 8px;
              height: 45px;
              margin-right: 8px;
              content: '';
              background-color: #ccc;
            }

            .content__title {
              font-size: 22px;
              line-height: 32px;
              /* font-weight: 700; */
              color: #000030;
            }

            .sv_wr_re_container .u-mb_s15-p30 {
              margin-bottom: 15px;
            }

            .l-content__box .heading__square {
              display: flex;
              text-align: left;
              align-items: center;
              justify-content: flex-start;
              font-size: 22px;
              line-height: 32px;
              /* font-weight: 500; */
            }
            .heading__square_8,.heading__square_9{
              /* font-weight: 600; */
            }
            .l-content__box_2{
              margin-top: 80px;
            }
            .l-content__box_5{
              margin-top: 50px;
            }
            .l-content__box_5 .u-en{
              /* font-weight: 500; */
            }
            .l-justify-between-flex--pc {
              display: flex;
              flex-direction: column;
            }

            img {
              vertical-align: middle;
              border-style: none;
            }

            .content__listRenewal .renewal__item .item__product {
              font-size: 11px;
              color: #000030;
              line-height: 1.1;
            }
            /* .renewal__item_1 .only-pc{
              font-weight: 700;
            } */
            /* .u-font-weight--700 {
              font-weight: 500 ;
            } */

            .content__listRenewal .renewal__item .item__name {
              font-size: 16px;
              margin-bottom: 3px;
              padding-bottom: 3px;
              border-bottom: 1px solid #000;
            }

            .content__listRenewal .renewal__item .item__price {
              margin-bottom: 0;
            }

            .l-justify-between--pc {
              display: flex;
              flex-direction: column;
            }

            .content__listRenewal .renewal__item .item__namePrice .namePrice__name {
              font-size: 18px;
              color: #000030;

            }

            .content__listRenewal .renewal__item .item__namePrice .namePrice__price {
              font-size: 15px;
            }

            .content__listRenewal .renewal__item .item__text {
              margin-bottom: 30px;
              font-size: 12px;
              line-height: 1.5;
            }

            .content__listRenewal .renewal__img {
              margin-bottom: 40px;
            }


            @media screen and (min-width: 768px) {

              .content__listRenewal .renewal__item .item__price {
                font-size: 16px;
                margin-bottom: 10px;
              }

              .content__listRenewal .renewal__item .item__name {
                margin-bottom: 10px;
                padding-bottom: 10px;
              }

              .heading__square::before {
                width: 30px;
                height: 30px;
              }

              .content__listRenewal .renewal__item .item__text {
                margin-bottom: 20px;
                font-size:14px;
              }

              .l-justify-between--pc {
                flex-direction: row;
                justify-content: space-between;
              }

              .content__listRenewal .renewal__item .item__namePrice {
                margin-bottom: 6px;
                padding-bottom: 4px;
                color: #000030;
                border-bottom: 1px solid #000;
              }

              .content__listRenewal .renewal__item .item__name {
                font-size: 18px;
              }

              .sv_wr_re_container .u-mb_s15-p30 {
                margin-bottom: 50px;
              }

              .content__listRenewal .renewal__img {
                margin-right: 40px;
                margin-bottom: 0;
                flex: 0 1 42%;
              }

              .content__listRenewal .renewal__item {
                flex: 0 1 58%;
              }

              html.chrome.desktop img {
                -webkit-backface-visibility: unset;
                backface-visibility: unset;
              }
            }
          </style>



          <!-------------------------- 區塊三 end ---------------------------->


          <p class="annotation" style="text-align: center;">
            *1 *2 *3 *4 *5 *6 *7 / 皆為保濕成分 *8 亞麻籽油 / 保濕成分
          </p>

          <p class="only-pc-block" style="text-align: center;">
            <a class="btn-bottom1 btn-gray btn--grey arrow--right-white" href="/collections/renewal_savon"
              target="_blank">更新後皂香產品一覽</a>
            <a class="btn-bottom2 btn-gray btn--grey arrow--right-white" href="/collections/renewal_whitelily"
              target="_blank">更新後白百合產品一覽</a>
          </p>

          <p class="only-sp" style="text-align: center;">
            <a class="btn-bottom1 btn-gray btn--grey arrow--right-white" href="/collections/renewal_savon"
              target="_blank">更新後皂香產品一覽</a>
          </p>
          <p class="only-sp" style="text-align: center;">
            <a class="btn-bottom2 btn-gray btn--grey arrow--right-white" href="/collections/renewal_whitelily"
              target="_blank">更新後白百合產品一覽</a>
          </p>
          <p style="text-align: center; margin: auto; width: 100%;" class="sp_w95 only-pc">
            <a class="btn-gray btn--grey arrow--right-black" href="/collections/before_renewal"
              target="_blank"
              style="max-width: 700px;color: #000;background-color: #dddede !important;">香料更新前皂香、白百合產品一覽</a>
          </p>
          <p style="text-align: center; margin: auto; width: 100%;" class="sp_w95 only-sp">
            <a class="btn-gray btn--grey arrow--right-black" href="/collections/before_renewal"
              target="_blank"
              style="width: 95%; max-width: 800px;color: #000;background-color: #dddede !important;">香料更新前皂香、白百合產品一覽</a>
          </p>
          <p style="text-align: center;font-size: 11px;margin-top8px;">
            *香料更新前皂香、白百合產品庫存可能會在正式改版前提前售罄，敬請見諒。
          </p>

          <br><br>

        </div>
        <!--paragraph end-->
      </div>
      <!--Container end-->
    </section>
  </div>

</div>

<style>
  #advert-once {
    position: fixed;
    bottom: 80px;
    right: 5px;
    display: inline-block;
    background-color: #fff;
    /*padding: 5px 5px 0;*/
    z-index: 99999;
    width: 180px;
  }

  #advert-once .advert-button {
    width: 26px;
    height: 26px;
    position: absolute;
    right: -3px;
    top: -9px;
    background-color: #ffffff;
    border-radius: 99em;
    cursor: pointer;
  }

  #reset-session,
  #refresh-page {
    display: block;
    width: 250px;
    text-align: center;
    /* font-family: 'Oswald', sans-serif; */
    border-radius: 5px;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    background-color: #ddd;
    margin: 5px 0;
  }

  #reset-session:hover,
  #refresh-page:hover {
    background-color: #ffffff;
  }
</style>

<style>
  .section_bottom_nav {
    display: none;
  }

  .section_bottom_nav {
    background: #000021;
    padding: 0 20px 10px 10px;
    position: fixed;
    bottom: 0;
    z-index: 10000000;
    width: 100%;
    box-shadow: 0 -1px #262642 inset;
    overflow: hidden;
  }

  .Header_bottom {
    align-items: flex-start;
    position: relative;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1240px) {
    .Header_Icons {
      width: auto;
      position: absolute;
    }

  }

  @media screen and (max-width: 1239px) {
    .section_bottom_nav {
      display: block;
    }

    .round-button {
      bottom: 65px;
    }

    .section_top .Header .Header_MainNav {
      display: none;
    }

    .mod-search-form {
      position: fixed;
      bottom: 55px;
      top: initial;
      left: 0;
      width: 100%;
      z-index: 10000000;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transform: translateY(25px);
      transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
    }

    .Header_Icon {
      width: 20px;
      margin: 0 8px;
    }

    .Header_Icon span {
      display: flex;
      color: #fff;
      word-break: keep-all;
      text-align: center;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: flex-end;
      margin-top: 14px;
      opacity: 1;
    }

    .Header_bottom .Header_Btn span {
      display: flex;
      color: #fff;
      word-break: keep-all;
      text-align: center;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: flex-end;
      margin-top: 12px;
      font-size: 10px;
    }

    .Header_Icons {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      position: static;
      top: 0;
      right: 0;
      z-index: 5;
    }

    .section_top .Header_Icons {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .Header_Icons {
      position: relative;
    }

    .Header_bottom .Header_MainNav {
      position: relative;
    }

    .Header_Icons {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      position: static;
      top: 0;
      right: 0;
      z-index: 5;
    }

    .section_top .Header_Icons {
      display: none;
    }

.l-content__box .heading__square{
  font-size: 16px;
}
    .content-main .l-content__box_5{
      padding: 0 50px ;
    }
  }
</style>

<style>
  .round-button {
    /*先隱藏 */
    display: none;
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 65px;
    right: 0;
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 1.5em 1.5em 0;
    border-radius: 50%;
    padding: .25em;
    width: 50px;
    height: 50px;
    background-color: #F8F8F8;
    z-index: 99999;
  }

  .gototop:hover {
    background-color: #F4F4F4;
  }

  path[Attributes Style] {
    d: path("M 12 6 H 0 l 6 -6 Z");
  }

  .svg-image-back {
    color: #393C41;
    width: 20px;
    height: 8px;
  }

  /*跑馬燈手機版要加*/
  /*   
        .only-pc-block {
              display: block!important; 
        }
        
        @media only screen and (max-width: 768px) {
          .only-sp {
              display: block!important; 
            }
           .section_top {
            padding: 20px 30px 20px 30px!important;
            position: fixed;
          }
          body {
              margin-top: 75px!important; 
            }
            
        }
        
        /*跑馬燈手機版 END*/

  /*跑馬燈倒數手機版要加*/
  /*   
        @media only screen and (min-width: 769px) {
          .only-pc {
              z-index: 99;
              display: flex!important;
              justify-content: center;
              align-items: center;
          }
           
        }
        
        /*跑馬燈倒數手機版 END*/


  @media only screen and (min-width: 769px) {}

  .p-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .p-container a img:hover{
    opacity: 0.7;
  }

  .only-pc {
    display: none;
  }

  .heading__line--long {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  /* .heading__line--long span {
    font-weight: 700;
  } */
  .line_center_heading .heading__line--long{
    padding-top: 50px;
  }

  @media only screen and (min-width: 769px) {
    .only-pc {
      display: flex !important;
      justify-content: center;
    }
  }

  @media only screen and (min-width: 769px) {

    .only-sp,
    span.only-sp,
    img.only-sp {
      display: none !important;
    }
  }

  .section_page .Container {
    max-width: 1500px !important;
  }

  .section_page .Container {
    max-width: 1024px;
    margin: auto;
    padding: 0 80px;
  }

  .menuItem__textJa {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .menuItem__textEn::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 1px solid #393c41 !important;
  }

  .menuItem__textEn {
    position: relative;
    font-size: 14px;
    /* font-weight: 500; */
  }

  .arrow-bottom {
    position: relative;
  }

  .arrow-bottom::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    content: '';
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border-top: 1px solid #393c41;
    border-right: 1px solid #393c41;

  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .menuItem__textJa {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .menuItem__textEn::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    content: '';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 1px solid #393c41;
  }

  .section_page .paragraph {
    font-size: 16px;
    line-height: 32px;
    /* margin-bottom: 80px; */
    letter-spacing: 1px;
    color: #393c3f;
  }

  .paragraph {
    background-color: white;
    /* padding: 0 30px; */
  }

  .content_box {
    margin-bottom: 60px;
    padding: 60px 145px 0 145px;
  }

  .l-content__box,
  .l-title__box {
    padding: 0 145px;
    padding-top: 60px;
    margin-bottom: 60px;
  }

  .heading__line--long {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .content__category {
    font-size: 18px;
    color: #000030;
  }

  h3 {
    /* font-family: inherit; */
    /* font-weight: 400; */
    line-height: 1.2;
  }

  .heading__line--long::after,
  .heading__line--long::before {
    height: 1px;
    content: '';
    background-color: #000;
    flex-grow: 1;
  }

  .heading__line--long::after {
    margin-left: 8px;
  }

  .heading__line--long::before {
    margin-right: 8px;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .l-content__box,
  .l-title__box {
    padding: 0 145px;
    padding-top: 60px;
    margin-bottom: 60px;
  }

  element.style {}

  .content__category {
    font-size: 18px;
    color: #000030;
  }

  .heading__line--right {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    color: #000030;
    margin-left: -0.5em;
  }

  @media screen and (min-width: 768px) {
    .sv_wr_re_container .u-mb_s15-p30 {
      margin-bottom: 50px;
    }
  }

  .sv_wr_re_container .u-mb_s15-p30 {
    margin-bottom: 15px;
  }

  .heading__line--right::after {
    height: 1px;
    content: '';
    background-color: #000;
    flex-grow: 1;
  }

  @media screen and (min-width: 768px) {
    .sv_wr_re_container .u-mb_s15-p30 {
      margin-bottom: 50px;
    }
    .content__title {
      font-size: 18px;
    }
    .content__listRenewal .renewal__item .item__namePrice {
      margin-bottom: 6px;
      padding-bottom: 4px;
      color: #000030;
      border-bottom: 1px solid #000;
    }
    .l-justify-between--pc {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .u-en {
    /* font-weight: 500; */
    font-size: 20px;
    line-height: 26px;
  }

  .annotation {
    margin-bottom: 60px;
    font-size: 13px;
  }

  .btn-gray {
    background-color: #2c2e33;
    font-size: 14px;
    max-width: 343px;
    width: 100%;
    display: inline-block;
    line-height: 3.5;
    color: #fff;
    border-radius: 4px;
  }
  .btn-gray:hover {
    color: #bcbcbc;
}
  .arrow--right-white {
    position: relative;
  }

  .btn--grey {
    background: grey !important;
    border-radius: 0 !important;
    line-height: 4.5 !important;
    font-size: 16px !important;
    /* font-weight: 600; */
  }

  .btn-bottom1 {
    max-width: 320px !important;
    margin-right: 25px;
  }

  .arrow--right-white::after {
    position: absolute;
    top: calc(50% - 8px);
    right: 5%;
    width: 16px;
    height: 16px;
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }

  .btn-gray {
    background-color: #2c2e33;
    font-size: 14px;
    max-width: 343px;
    width: 100%;
    display: inline-block;
    line-height: 3.5;
    color: #fff;
    border-radius: 4px;
  }

  .arrow--right-black {
    position: relative;
  }

  .arrow--right-black::after {
    position: absolute;
    top: calc(50% - 8px);
    right: 2.5%;
    width: 16px;
    height: 16px;
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    color: #000;
    z-index: 9999;
  }
  .section_page .Container {
    max-width: 1024px;
    margin: auto;
    padding: 0 80px;
  }

  .section_page .Container {
    max-width: 1500px !important;
  }
  @media screen and (max-width: 1200px) {
    .section_page .content_box {
      margin-bottom: 0;
      padding: 30px 25px 30px 25px;
    }
    .l-content__box,
    .l-title__box {
      padding: 0 12px;
    }
  }
  @media screen and (max-width: 1008px) {
    .sp_margin40 .item__text ,.sp_margin40 .item__feature {
      margin: 0px 25px 30px 25px;
    }
    .l-content__box_5{
      margin-top: 120px;
    }
  }
  @media screen and (max-width: 768px) {
    .section_page .content_box {
      margin-bottom: 0;
      padding: 30px 0px 30px 0px;
    }
    .section_page .Container {
    padding: 12px;
}
.paragraph {
    background-color: white;
    padding: 0px;
  }
  }

  @media screen and (max-width: 1008px) {
    .section_page .Container {
      padding: 0 40px;
    }

    .section_page .sp_padding0 {
      padding: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .section_page .Container {
      padding: 0px;
    }
  }

  .only-pc-block {
    display: block !important;
  }
  @media screen and (max-width: 768px) {
    .only-pc-block {
      display: none !important;
    }

    .sp_margin20 {
      margin: 0px 65px 0px 65px;
    }

    .sp_margin40 {
      margin: 0px 30px 30px 30px;
    }

    .btn-bottom1,
    .btn-bottom2,
    .only-sp .arrow--right-black .only-sp .btn--grey {
      max-width: 95% !important;
      margin-right: 0;
    }

    .p-container a{
      width: 95%;
      justify-content: initial;
    }
    .p-container a img a{
      width: 100%;
    }

    .only-sp p .btn-gray {
      max-width: 343px !important;
      margin-bottom: 80px;
    }

    .sp_w95 {
      width: 95%;
    }
  }
  
  @media screen and (max-width: 640px) {
    .sp_margin20 {
      margin: 0px 30px 0px 30px;
    }

    .sp_margin40 {
      margin: 0px 30px 30px 30px;
    }
    .content-main .section_page .l-content__box_5{
      padding: 0 12px;
    }
  }
</style>

<style>
  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: auto !important;
  }

  /* .slider_content_box {
    padding: 20px 40px 50px 40px;
  } */

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .product_slider_card {
    position: relative;
  }

  .product_slider_cardtitle {
    line-height: 16px;
  }
  .product_slider_cardtitle_en{
    margin-bottom: 40px;
    font-family:蘋方-繁, 微軟正黑體, Microsoft JhengHei, Noto Sans Traditional Chinese,sans-serif;
  }

  .product_slider_cardprice {
    position: absolute;
    bottom: 25px;
    left: 20px;
  }

  .product_slider_container {
    display: flex;
    margin: auto;
    width: 85%;
    max-width: 880px;
  }

  .product_slider_card {
    width: 100%;
    background-color: #FAFAFA;
  }

  .product_slider_card p {
    font-size: 12px;
    line-height: 18px;
  }
  .product_slider_card .product_slider_cardtitle_en{
    font-size: 10px;
    color: #939393;
  }

  .slick-dots li.slick-active button:before {
    color: #000;
  }

  .slick-dots li button:before {
    color: #000;

  }

  .slick-dots li button:before:hover {
    color: #000 !important;
  }

  .slide-arrow {
    background-color: #333;
    bottom: 0;
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 0;
  }

  .prev-arrow {
    width: 15px;
    height: 15px;
    border: 3px solid;
    border-color: transparent transparent #565656 #565656;
    transform: rotate(45deg);
    background-color: #fff;
    left: -25px;
  }

  .next-arrow {
    width: 15px;
    height: 15px;
    border: 3px solid;
    border-color: #565656 #565656 transparent transparent;
    transform: rotate(45deg);
    background-color: #fff;
    right: -25px;
  }
  /* 追加 */
.content_box_1 ,.content_box_2{
  padding: 60px 145px 0 145px;
  
}
  @media only screen and (max-width: 768px) {
    .slider_content_box {
      padding: 0;
    }
  }
  .content_box_2 p ,.only-sp .item__text, .renewal__item .item__text ,.lineup__item .lineup__text{
    font-weight: 400;
  }
</style>


<script>
  $(function () {
    $(".slider").slick({
      arrows: true,
      autoplay: false,
      adaptiveHeight: true,
      dots: true,
      slidesToShow: 4,
      prevArrow: '<button class="slide-arrow prev-arrow"></button>',
      nextArrow: '<button class="slide-arrow next-arrow"></button>',
      responsive: [
        {
          breakpoint: 768,
          settings: {
            arrows: false,
            slidesToShow: 3,
          },
        },
        {
          breakpoint: 640,
          settings: {
            arrows: false,
            slidesToShow: 2.3,
          },
        },
      ],
    });
  });
</script>