{%- if section.settings.layout_mode == 'carousel' -%}
  {%- capture flickity_options -%}
  {
    "prevNextButtons": true,
    "pageDots": false,
    "wrapAround": false,
    "contain": true,
    "cellAlign": "center",
    "watchCSS": true,
    "dragThreshold": 8,
    "groupCells": true,
    "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
  }
  {%- endcapture -%}
{%- endif -%}
{%- capture section_settings -%}
{
  "layout": {{ section.settings.layout_mode | json }}
}
{%- endcapture -%}
{%- if section.settings.theme_color == 'dark' -%}
<section class="Section Section--spacingNormal slider_collection dark slider_{{section.id}}" data-section-id="{{ section.id }}" data-section-type="featured-collections" data-settings='{{ section_settings }}' style="background-color: {{ section.settings.bg_color }};">
{%- else -%}
<section class="Section Section--spacingNormal slider_collection slider_{{section.id}}" data-section-id="{{ section.id }}" data-section-type="featured-collections" data-settings='{{ section_settings }}' style="background-color: {{ section.settings.bg_color }};">
{%- endif -%}
  <header class="SectionHeader SectionHeader--center">
    <div class="Container">
    {%- if section.settings.title != blank -%}
      <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.title | escape }}</h3>
    {%- endif -%}

    {%- if section.blocks.size > 1 -%}
      <div class="SectionHeader__TabList TabList" role="tablist">
        {%- for block in section.blocks -%}
          {%- assign collection = collections[block.settings.collection] -%}

          <button class="Heading u-h1 TabList__Item {% if forloop.first %}is-active{% endif %}" data-action="toggle-tab" aria-controls="block-{{ block.id }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" role="tab">
            {%- if collection != empty -%}
              {{- block.settings.title | default: collection.title -}}
            {%- else -%}
              {{- 'home_page.onboarding.collection_title' | t -}}
            {%- endif -%}
          </button>
        {%- endfor -%}
      </div>
    {%- else -%}
      {%- assign collection = collections[section.blocks.first.settings.collection] -%}

      {%- if collection != empty -%}
        <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.collection_title | escape }}</h2>
      {%- else -%}
        <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.collection_title | escape }}</h2>
      {%- endif -%}
    {%- endif -%}
    </div>
  </header>

  {%- for block in section.blocks -%}
    {%- assign collection = collections[block.settings.collection] -%}

    <div class="TabPanel" id="block-{{ block.id }}" aria-hidden="{% if forloop.first %}false{% else %}true{% endif %}" role="tabpanel" {{ block.shopify_attributes }}>
      <div class="ProductListWrapper">
        {%- if collection != empty -%}
          {%- assign item_count = block.settings.grid_items_count -%}

          {%- if collection.products_count < block.settings.grid_items_count -%}
            {%- assign item_count = collection.products_count -%}
          {%- endif -%}

          {%- if section.settings.layout_mode == 'grid' -%}
            <div class="ProductList ProductList--grid ProductList--removeMargin Grid product_card_height_container" data-mobile-count="{{ section.settings.grid_mobile_items_per_row }}" data-desktop-count="{{ section.settings.grid_desktop_items_per_row }}">
              {%- for product in collection.products limit: block.settings.grid_items_count -%}
                <div class="Grid__Cell 1/{{ section.settings.grid_mobile_items_per_row }}--phone 1/2--tablet 1/{{ section.settings.grid_desktop_items_per_row }}--lap-and-up">
                  {%- include 'product-item', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                </div>
              {%- endfor -%}
            </div>
          {%- else -%}
            <div class="ProductList ProductList--carousel Carousel" data-flickity-config='{{ flickity_options }}'>
              {%- for product in collection.products limit: block.settings.grid_items_count -%}
                <div class="Carousel__Cell">
                  {%- include 'product-item', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
        {%- else -%}
          {%- comment -%}If collection is not set, we use placeholder content for all three layout mode{%- endcomment -%}

          {%- capture products_placeholder -%}
            {%- for i in (1..block.settings.grid_items_count) -%}
              <div class="{% if section.settings.layout_mode == 'grid' %}Grid__Cell 1/{{ section.settings.grid_mobile_items_per_row }}--phone 1/2--tablet-and-up 1/{{ section.settings.grid_desktop_items_per_row }}--lap-and-up{% else %}Carousel__Cell{% endif %}">
                <div class="ProductItem">
                  <div class="ProductItem__Wrapper">

                    <a href="#" class="ProductItem__ImageWrapper">
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'product-' | append: current | placeholder_svg_tag: 'ProductItem__Image PlaceholderSvg PlaceholderSvg--dark' }}
                    </a>

                    {%- if section.settings.show_product_info -%}
                      <div class="ProductItem__Info ProductItem__Info--{{ settings.product_info_alignment }}">
                        {%- if section.settings.show_vendor -%}
                          <p class="ProductItem__Vendor Heading">{{ 'home_page.onboarding.vendor_title' | t }}</p>
                        {%- endif -%}

                        <h2 class="ProductItem__Title Heading">{{ 'home_page.onboarding.product_title' | t }}</h2>

                        <div class="ProductItem__PriceList Heading">
                          <span class="ProductItem__Price Price Text--subdued" data-money-convertible>{{ 3000 | money_without_trailing_zeros }}</span>
                        </div>
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endfor -%}
          {%- endcapture -%}

          {%- if section.settings.layout_mode == 'grid' -%}
            <div class="ProductList ProductList--grid ProductList--removeMargin Grid" data-mobile-count="{{ section.settings.grid_mobile_items_per_row }}" data-desktop-count="{{ section.settings.grid_desktop_items_per_row }}">
              {{ products_placeholder }}
            </div>
          {%- else -%}
            <div class="ProductList ProductList--carousel Carousel" data-flickity-config='{{ flickity_options }}'>
              {{ products_placeholder }}
            </div>
          {%- endif -%}
        {%- endif -%}
      </div>

</div>
      {%- if block.settings.button_text != blank -%}
        <div class="Container">
          <div class="SectionFooter">
            <a href="{{ collection.url }}" class="Button Button--primary">{{ block.settings.button_text | escape }}</a>
          </div>
        </div>
      {%- endif -%}

  {%- endfor -%}

{%- if section.settings.theme_color == 'dark' -%}
  </section>
{%- else -%}
    </section>
{%- endif -%}

{%- capture hack -%}
{%- comment -%}This is just an ugly hack to make those variables appear as part of the theme editor in the General Settings{%- endcomment -%}
{% if section.settings.layout_mode == 'grid' %}{{ settings.product_list_horizontal_spacing }},{{ settings.product_list_vertical_spacing }}{% endif %}
{%- endcapture -%}

<style>
  .ProductCard__product_en {
    font-size: 12px;
    line-height: 21px;
    color: #939393;
    /* height: 21px; */
    flex: 1 1 auto;
    margin-bottom: 0;
    /* font-family: YuGothic, "Yu Gothic", YuGothic, TTCommons, "Noto Sans JP", sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 游ゴシック体, Meiryo, メイリオ, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Roboto, "Droid Sans"; */
    ;
    font-weight:300;
  }

  .slider_collection .ProductList--carousel .Carousel__Cell.ProductList--carousel .Carousel__Cell,
  .slider_collection .Carousel__Cell,
  .slider_collection .Carousel__Cell .ProductItem,
  .slider_collection .ProductItem__Wrapper {
    height: fit-content !important;
  }

  .slider_collection .Carousel__Cell,
  .slider_collection .Carousel__Cell .ProductItem {
    padding-bottom: 0;
  }

  .slider_collection .ProductItem_variantImgListWrap{
    /* width: 110%;
    margin-left:-5% ; */
    padding: 0 20px;
  }
  .slider_collection .ProductItem_variantImgList {
    padding-bottom: 20px ;
  }
  .slider_collection .Carousel__Cell {
  min-height: 411px;
}

.slider_collection .Carousel__Cell{
    min-height: 380px;
  }
  .slider_collection .ProductItem__Info{
    padding: 0;
  }
@media(max-width: 1000px){
.slider_collection .Carousel__Cell{
  min-height: 411px;
}
}
@media(max-width: 767px){
.slider_collection .Carousel__Cell{
  min-height: 390px;
}
}
@media(max-width: 640px){
  .ProductItem__Info{
    padding: 0 10px;
  }
  .slider_collection .ProductItem_variantImgList{
    padding-bottom: 0 !important;
  }
}
@media(max-width: 400px){
.slider_collection .Carousel__Cell{
  min-height: 360px;
}
}

</style>



{% if variantImgRegisteredAny == true %}
    <style>
      .slider_{{ section.id }}  .variantImgRegistered_false .ProductItem_variantImgList{
        height: 60px !important;
    </style>
    {% endif %}

    <!-- {% if variantImgRegisteredAny == false %}
    <style>
      .slider_{{ section.id }} .Button--primary{
        margin-top:15px;
      }
    </style>
    {% endif %} -->


{% schema %}
{
  "name": "Slider collections",
  "class": "shopify-section--bordered",
  "max_blocks": 2,
  "settings": [
    {
      "type": "text",
      "id": "collection_title",
      "label": "heading",
      "default": "Slider collection"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Sub-heading",
      "default": "Slider collection"
    },
    {
      "type": "select",
      "id": "theme_color",
      "label": "Theme color",
      "options": [
          {
            "value": "light",
            "label": "Light"
          },
          {
            "value": "dark",
            "label": "Dark"
          }
        ],
        "default": "dark"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#000021",
      "info": "Default Color codes: #000021(NAVY) or #eeeeee(GRAY)"
    },
    {
      "type": "select",
      "id": "layout_mode",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "checkbox",
      "id": "show_product_info",
      "label": "Show product info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_color_swatch",
      "label": "Show color swatch",
      "info": "Some colors appear white? [Learn more](http://support.maestrooo.com/article/80-product-uploading-custom-color-for-color-swatch).",
      "default": false
    },
    {
      "type": "header",
      "content": "Grid",
      "info": "Those settings apply only if the layout mode is set to grid."
    },
    {
      "type": "select",
      "id": "grid_mobile_items_per_row",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "min": 2,
      "max": 10,
      "id": "grid_desktop_items_per_row",
      "label": "Products per row (desktop)",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "info": "If none is set, collection title is used."
        },
        {
          "type": "range",
          "id": "grid_items_count",
          "min": 2,
          "max": 50,
          "step": 1,
          "label": "Products to show",
          "default": 8
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "View all products"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Slider collections",
      "settings": {},
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}