  <div class="Product__Tabs">
    {%- if product.metafields["global"]["how_to_use"] != blank -%}
      <div class="Collapsible Collapsible--large">
        <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
          How to use <span class="Collapsible__Plus"></span>
        </button>

        <div class="Collapsible__Inner">
          <div class="Collapsible__Content">
            <div class="Rte">
              {{ product.metafields["global"]["how_to_use"] }}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if product.metafields["global"]["key_ingredients"] != blank or product.metafields["global"]["ingredients"] != blank -%}
      <div class="Collapsible Collapsible--large">
        <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
          Ingredients <span class="Collapsible__Plus"></span>
        </button>

        <div class="Collapsible__Inner">
          <div class="Collapsible__Content">
            <div class="Rte">
              {%- if product.metafields["global"]["key_ingredients"] != blank -%}
              {% comment %}<div class="tab-subtitle">Key Ingredients</div>{% endcomment %}
                {{ product.metafields["global"]["key_ingredients"] }}
              {%- endif -%}
              {% comment %}<div class="blank"></div>{% endcomment %}
              {%- if product.metafields["global"]["ingredients"] != blank -%}
              {% comment %}<div class="tab-subtitle">Ingredients</div>{% endcomment %}
                {{ product.metafields["global"]["ingredients"] }}
              {%- endif -%}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if product.metafields["global"]["others"] != blank -%}
    <div class="Collapsible Collapsible--large">
      <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
        Others <span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner">
        <div class="Collapsible__Content">
          <div class="Rte">
            {{ product.metafields["global"]["others"] }}
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}

    {%- if product.metafields["global"]["tips"] != blank -%}
    <div class="Collapsible Collapsible--large">
      <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
        Tips <span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner">
        <div class="Collapsible__Content">
          <div class="Rte">
            {{ product.metafields["global"]["tips"] }}
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}

    {%- if product.metafields["global"]["frequently_asked_questions"] != blank -%}
    <div class="Collapsible Collapsible--large">
      <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
        Frequently Asked Questions <span class="Collapsible__Plus"></span>
      </button>

      <div class="Collapsible__Inner">
        <div class="Collapsible__Content">
          <div class="Rte">
            {{ product.metafields["global"]["frequently_asked_questions"] }}
          </div>
        </div>
      </div>
    </div>
    {%- endif -%}
  </div>