<!doctype html>

<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="{{ settings.accent_color }}">

    <title>{{ shop.name }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}

    {% include 'social-meta-tags' %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'theme.scss.css' | asset_url }}">

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async></script>

    <script src="https://cdn.polyfill.io/v3/polyfill.min.js?unknown=polyfill&features=fetch,Element.prototype.closest,Element.prototype.remove,Element.prototype.classList,Array.prototype.includes,Array.prototype.fill,Object.assign,CustomEvent,IntersectionObserver,IntersectionObserverEntry,URL" defer></script>
    <script src="{{ 'libs.min.js' | asset_url }}" defer></script>
    <script src="{{ 'theme.min.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        template: {{ template.name | json }}
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      //document.documentElement.style.setProperty('--window-height', window.innerHeight + 'px');

      // We do a quick detection of some features (we could use Modernizr but for so little...)
      (function() {
        document.documentElement.className += ((window.CSS && window.CSS.supports('(position: sticky) or (position: -webkit-sticky)')) ? ' supports-sticky' : ' no-supports-sticky');
        document.documentElement.className += (window.matchMedia('(-moz-touch-enabled: 1), (hover: none)')).matches ? ' no-supports-hover' : ' supports-hover';
      }());
    </script>

    {% include 'microdata-schema' %}
  </head>

  <body class="prestige--v4">
    <div class="PageOverlay"></div>

    <div class="PageContainer">
     <header id="section-{{ section.id }}"
        class="Header Header--{{ section.settings.navigation_style }} {% if section.settings.navigation_style != 'inline' and section.settings.navigation_style != 'logoLeft' %}Header--initialized{% endif %} {% if use_transparent_header %}Header--transparent{% endif %} {% if section.settings.show_icons or section.settings.navigation_style == 'sidebar' %}Header--withIcons{% endif %}"
        data-section-id="{{ section.id }}"
        data-section-type="header"
        data-section-settings='{{ section_settings }}'
        role="banner">
      <div class="Header__Wrapper">
        <div class="Header__FlexItem Header__FlexItem--logo">
          <div class="Header__Logo">
              <img class="Header__LogoImage Header__LogoImage--primary" src="//shiro-tw-store.myshopify.com/cdn/shop/files/shiro-logo-white_140x.png?v=1700901156" srcset="//shiro-tw-store.myshopify.com/cdn/shop/files/shiro-logo-white_140x.png?v=1700901156 1x, //shiro-tw-store.myshopify.com/cdn/shop/files/shiro-logo-white_140x@2x.png?v=1700901156 2x" width="140" alt="シロ台湾">
          </div>
        </div>
      </div>
      </header>

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>

     <footer id="section-footer" class="Footer  " role="contentinfo">
    <div class="Container"><div class="Footer__Inner">
      <div class="Footer__Block Footer__Block--LINKS" style="flex: 100%;">
          <div class="footer_logo">
              <img class="" src="//shiro-tw-store.myshopify.com/cdn/shop/t/2/assets/shiro-logo-footer_3x_300x.png?v=132017205993559939991695810151" alt="SHIRO">
          </div>
        </div>
    <div class="Footer__Block Footer__Block--text"><h2 class="Footer__Title Heading u-h6">FOLLOW US</h2><ul class="Footer__Social HorizontalList HorizontalList--spacingLoose">
      <li class="HorizontalList__Item">
        <a href="https://www.instagram.com/shiro_japan/?hl=en" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Instagram">
          <span class="Icon-Wrapper--clickable"><svg class="Icon Icon--instagram" role="presentation" viewBox="0 0 32 32">
        <path d="M15.994 2.886c4.273 0 4.775.019 6.464.095 1.562.07 2.406.33 2.971.552.749.292 1.283.635 1.841 1.194s.908 1.092 1.194 1.841c.216.565.483 1.41.552 2.971.076 1.689.095 2.19.095 6.464s-.019 4.775-.095 6.464c-.07 1.562-.33 2.406-.552 2.971-.292.749-.635 1.283-1.194 1.841s-1.092.908-1.841 1.194c-.565.216-1.41.483-2.971.552-1.689.076-2.19.095-6.464.095s-4.775-.019-6.464-.095c-1.562-.07-2.406-.33-2.971-.552-.749-.292-1.283-.635-1.841-1.194s-.908-1.092-1.194-1.841c-.216-.565-.483-1.41-.552-2.971-.076-1.689-.095-2.19-.095-6.464s.019-4.775.095-6.464c.07-1.562.33-2.406.552-2.971.292-.749.635-1.283 1.194-1.841s1.092-.908 1.841-1.194c.565-.216 1.41-.483 2.971-.552 1.689-.083 2.19-.095 6.464-.095zm0-2.883c-4.343 0-4.889.019-6.597.095-1.702.076-2.864.349-3.879.743-1.054.406-1.943.959-2.832 1.848S1.251 4.473.838 5.521C.444 6.537.171 7.699.095 9.407.019 11.109 0 11.655 0 15.997s.019 4.889.095 6.597c.076 1.702.349 2.864.743 3.886.406 1.054.959 1.943 1.848 2.832s1.784 1.435 2.832 1.848c1.016.394 2.178.667 3.886.743s2.248.095 6.597.095 4.889-.019 6.597-.095c1.702-.076 2.864-.349 3.886-.743 1.054-.406 1.943-.959 2.832-1.848s1.435-1.784 1.848-2.832c.394-1.016.667-2.178.743-3.886s.095-2.248.095-6.597-.019-4.889-.095-6.597c-.076-1.702-.349-2.864-.743-3.886-.406-1.054-.959-1.943-1.848-2.832S27.532 1.247 26.484.834C25.468.44 24.306.167 22.598.091c-1.714-.07-2.26-.089-6.603-.089zm0 7.778c-4.533 0-8.216 3.676-8.216 8.216s3.683 8.216 8.216 8.216 8.216-3.683 8.216-8.216-3.683-8.216-8.216-8.216zm0 13.549c-2.946 0-5.333-2.387-5.333-5.333s2.387-5.333 5.333-5.333 5.333 2.387 5.333 5.333-2.387 5.333-5.333 5.333zM26.451 7.457c0 1.059-.858 1.917-1.917 1.917s-1.917-.858-1.917-1.917c0-1.059.858-1.917 1.917-1.917s1.917.858 1.917 1.917z"></path>
      </svg></span>
        </a>
      </li>
  
      
  <li class="HorizontalList__Item">
        <a href="https://www.facebook.com/shiro.officialsite/" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Facebook">
          <span class="Icon-Wrapper--clickable"><svg class="Icon Icon--facebook" viewBox="0 0 9 17">
        <path d="M5.842 17V9.246h2.653l.398-3.023h-3.05v-1.93c0-.874.246-1.47 1.526-1.47H9V.118C8.718.082 7.75 0 6.623 0 4.27 0 2.66 1.408 2.66 3.994v2.23H0v3.022h2.66V17h3.182z"></path>
      </svg></span>
        </a>
      </li>
  
      
  <li class="HorizontalList__Item">
        <a href="https://twitter.com/shiro__official" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Twitter">
          <span class="Icon-Wrapper--clickable"><svg class="Icon Icon--twitter" role="presentation" viewBox="0 0 32 26">
        <path d="M16.7,12.1L27.1,0h-2.5l-9.1,10.5L8.3,0H0l10.9,15.9L0,28.6h2.5L12,17.5l7.6,11.1H28L16.7,12.1L16.7,12.1z M13.3,16l-1.1-1.6L3.4,1.9h3.8L14.3,12l1.1,1.6l9.2,13.2h-3.8L13.3,16L13.3,16z"></path>
      </svg></span>
        </a>
      </li>
  
      
  <li class="HorizontalList__Item">
        <a href="https://www.youtube.com/c/shiro_channel/" class="Link Link--primary" target="_blank" rel="noopener" aria-label="YouTube">
          <span class="Icon-Wrapper--clickable"><svg class="Icon Icon--youtube" role="presentation" viewBox="0 0 33 32">
        <path d="M0 25.693q0 1.997 1.318 3.395t3.209 1.398h24.259q1.891 0 3.209-1.398t1.318-3.395V6.387q0-1.997-1.331-3.435t-3.195-1.438H4.528q-1.864 0-3.195 1.438T.002 6.387v19.306zm12.116-3.488V9.876q0-.186.107-.293.08-.027.133-.027l.133.027 11.61 6.178q.107.107.107.266 0 .107-.107.213l-11.61 6.178q-.053.053-.107.053-.107 0-.16-.053-.107-.107-.107-.213z"></path>
      </svg></span>
        </a>
      </li>
  
      
  <li class="HorizontalList__Item">
        <a href="https://www.pinterest.jp/shiro0453/" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Pinterest">
          <span class="Icon-Wrapper--clickable"><svg class="Icon Icon--pinterest" role="presentation" viewBox="0 0 32 32">
        <path d="M16 0q3.25 0 6.208 1.271t5.104 3.417 3.417 5.104T32 16q0 4.333-2.146 8.021t-5.833 5.833T16 32q-2.375 0-4.542-.625 1.208-1.958 1.625-3.458l1.125-4.375q.417.792 1.542 1.396t2.375.604q2.5 0 4.479-1.438t3.063-3.937 1.083-5.625q0-3.708-2.854-6.437t-7.271-2.729q-2.708 0-4.958.917T8.042 8.689t-2.104 3.208-.729 3.479q0 2.167.812 3.792t2.438 2.292q.292.125.5.021t.292-.396q.292-1.042.333-1.292.167-.458-.208-.875-1.083-1.208-1.083-3.125 0-3.167 2.188-5.437t5.729-2.271q3.125 0 4.875 1.708t1.75 4.458q0 2.292-.625 4.229t-1.792 3.104-2.667 1.167q-1.25 0-2.042-.917t-.5-2.167q.167-.583.438-1.5t.458-1.563.354-1.396.167-1.25q0-1.042-.542-1.708t-1.583-.667q-1.292 0-2.167 1.188t-.875 2.979q0 .667.104 1.292t.229.917l.125.292q-1.708 7.417-2.083 8.708-.333 1.583-.25 3.708-4.292-1.917-6.938-5.875T0 16Q0 9.375 4.687 4.688T15.999.001z"></path>
      </svg></span>
        </a>
      </li>
  
      
  <li class="HorizontalList__Item">
        <a href="https://lin.ee/UV4Jran" class="Link Link--primary" target="_blank" rel="noopener" aria-label="Line">
          <span class="Icon-Wrapper--clickable"><svg class="Icon Icon--line" role="presentation" width="28" height="32" viewBox="0 0 28 32" fill="none" xmlns="http://www.w3.org/2000/svg">
  
  <path d="M21.9333 2H6.06667C2.716 2 0 4.716 0 8.06667V23.9333C0 27.284 2.716 30 6.06667 30H21.9333C25.284 30 28 27.284 28 23.9333V8.06667C28 4.716 25.284 2 21.9333 2ZM21.9637 19.8593C19.824 22.321 15.043 25.3193 13.9533 25.779C12.866 26.2363 13.027 25.4873 13.0713 25.2283C13.097 25.0743 13.216 24.3557 13.216 24.3557C13.251 24.0943 13.286 23.6907 13.1833 23.434C13.069 23.1493 12.6163 23.0023 12.285 22.9323C7.385 22.2837 3.759 18.8607 3.759 14.7703C3.759 10.2087 8.33233 6.49633 13.9533 6.49633C19.5743 6.49633 24.1477 10.2087 24.1477 14.7703C24.15 16.595 23.4407 18.2377 21.9637 19.8593Z" fill="white"></path>
  
  <path d="M11.8811 12.5654H11.1671C11.0574 12.5654 10.9688 12.6541 10.9688 12.7638V17.2064C10.9688 17.3161 11.0574 17.4048 11.1671 17.4048H11.8811C11.9907 17.4048 12.0794 17.3161 12.0794 17.2064V12.7638C12.0794 12.6541 11.9907 12.5654 11.8811 12.5654Z" fill="white"></path>
  
  <path d="M16.8031 12.5654H16.0891C15.9794 12.5654 15.8908 12.6541 15.8908 12.7638V15.4028L13.8561 12.6541C13.8514 12.6471 13.8468 12.6401 13.8398 12.6331C13.8398 12.6331 13.8398 12.6331 13.8374 12.6308C13.8328 12.6261 13.8304 12.6214 13.8258 12.6191C13.8234 12.6191 13.8234 12.6168 13.8211 12.6168C13.8188 12.6144 13.8141 12.6098 13.8094 12.6074C13.8071 12.6051 13.8071 12.6051 13.8048 12.6028C13.8024 12.6004 13.7978 12.5981 13.7954 12.5958C13.7931 12.5934 13.7908 12.5934 13.7884 12.5911C13.7838 12.5888 13.7814 12.5864 13.7768 12.5841C13.7744 12.5841 13.7721 12.5818 13.7698 12.5818C13.7651 12.5794 13.7628 12.5794 13.7581 12.5771C13.7558 12.5771 13.7534 12.5748 13.7511 12.5748C13.7464 12.5724 13.7441 12.5724 13.7394 12.5701C13.7371 12.5701 13.7348 12.5701 13.7324 12.5678C13.7278 12.5678 13.7254 12.5654 13.7208 12.5654C13.7184 12.5654 13.7161 12.5654 13.7114 12.5654C13.7091 12.5654 13.7044 12.5654 13.7021 12.5631C13.6998 12.5631 13.6951 12.5631 13.6928 12.5631C13.6904 12.5631 13.6881 12.5631 13.6858 12.5631H12.9718C12.8621 12.5631 12.7734 12.6518 12.7734 12.7614V17.2041C12.7734 17.3138 12.8621 17.4024 12.9718 17.4024H13.6858C13.7954 17.4024 13.8841 17.3138 13.8841 17.2041V14.5674L15.9211 17.3208C15.9351 17.3394 15.9514 17.3558 15.9724 17.3698C15.9724 17.3698 15.9748 17.3698 15.9748 17.3721C15.9794 17.3744 15.9818 17.3768 15.9864 17.3791C15.9888 17.3791 15.9911 17.3814 15.9911 17.3814C15.9934 17.3838 15.9981 17.3838 16.0004 17.3861C16.0028 17.3884 16.0074 17.3884 16.0098 17.3908C16.0121 17.3908 16.0144 17.3931 16.0168 17.3931C16.0214 17.3954 16.0261 17.3954 16.0308 17.3978H16.0331C16.0494 17.4024 16.0658 17.4048 16.0844 17.4048H16.7984C16.9081 17.4048 16.9968 17.3161 16.9968 17.2064V12.7638C17.0014 12.6541 16.9128 12.5654 16.8031 12.5654Z" fill="white"></path>
  
  <path d="M10.1559 16.2916H8.21223V12.7636C8.21223 12.654 8.12356 12.5653 8.0139 12.5653H7.2999C7.19023 12.5653 7.10156 12.654 7.10156 12.7636V17.2063C7.10156 17.26 7.12256 17.309 7.15756 17.344L7.1599 17.3463L7.16223 17.3486C7.19723 17.3836 7.24623 17.4046 7.2999 17.4046H10.1559C10.2656 17.4046 10.3542 17.316 10.3542 17.2063V16.49C10.3542 16.3803 10.2656 16.2916 10.1559 16.2916Z" fill="white"></path>
  
  <path d="M20.752 13.6761C20.8616 13.6761 20.9503 13.5874 20.9503 13.4778V12.7638C20.9503 12.6541 20.8616 12.5654 20.752 12.5654H17.8936C17.84 12.5654 17.791 12.5864 17.756 12.6214L17.7536 12.6238C17.7536 12.6261 17.7513 12.6261 17.7513 12.6284C17.7163 12.6634 17.6953 12.7124 17.6953 12.7661V17.2064C17.6953 17.2601 17.7163 17.3091 17.7513 17.3441L17.7536 17.3464L17.756 17.3488C17.791 17.3838 17.84 17.4048 17.8936 17.4048H20.7496C20.8593 17.4048 20.948 17.3161 20.948 17.2064V16.4901C20.948 16.3804 20.8593 16.2918 20.7496 16.2918H18.806V15.5404H20.7496C20.8593 15.5404 20.948 15.4518 20.948 15.3421V14.6281C20.948 14.5184 20.8593 14.4298 20.7496 14.4298H18.806V13.6784H20.752V13.6761Z" fill="white"></path>
  
  </svg></span>
        </a>
      </li>
  
      
  
    </ul>
  </div><div class="Footer__Block Footer__Block--html"><h2 class="Footer__Title Heading u-h6">Global</h2><div class="Footer__Content Rte">
                      <p><a href="https://shiro-shiro.jp" target="_blank" title="https://shiro-shiro.jp">SHIRO JP <i class="icon-target"></i></a><br><a href="https://shiro-shiro.us" target="_blank" title="https://shiro-shiro.us">SHIRO US <i class="icon-target"></i></a><br><a href="https://shiro-shiro.uk/" target="_blank" title="https://shiro-shiro.uk/">SHIRO UK<i class="icon-target"></i></a><br><!-- <a class="hidden-phone" href="http://mitsukoshiisetan.tmall.com/p/rd959957.htm" target="_blank" title="http://mitsukoshiisetan.tmall.com/p/rd959957.htm" style="line-height: 0px;margin-top: 0px;"><span style="display: block; line-height: 1;">Tmall Global Isetan Mitsukoshi<br>Overseas Flagship Shop<i class="icon-target"></i></span></a><a class="hidden-tablet-and-up" href="https://market.m.taobao.com/app/tb-source-app/shopact/pages/index?wh_weex=true&amp;pathInfo=shop/activity&amp;userId=3008786874&amp;shopId=494544737&amp;pageId=320286783&amp;alisi" target="_blank" title="https://market.m.taobao.com/app/tb-source-app/shopact/pages/index?wh_weex=true&amp;pathInfo=shop/activity&amp;userId=3008786874&amp;shopId=494544737&amp;pageId=320286783&amp;alisi"><span style="display: block; line-height: 1;">Tmall Global Isetan Mitsukoshi<br>Overseas Flagship Shop<i class="icon-target"></i></span></a> --></p>
                    </div></div></div><div class="Footer__Aside">
        <div class="Footer__Copyright">
          <a href="/" class="Footer__StoreName Heading u-h7 Link Link--secondary">Copyright © 2019, SHIRO CO., LTD. 統一編號：83530568</a>
        </div></div>
    </div>
  </footer>
    </div>
    <style>
  .Header__Wrapper{
         justify-content: space-evenly;
  }
    .Footer__Inner{
         justify-content: flex-start;
  }
       .icon-target {
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 8px;
    background: url("{{ 'icon-target.svg' | asset_url }}") no-repeat center center/contain;
  }
　</style>
  </body>
</html>
